body {
  font-family: Roboto, sans-serif;
  font-weight: lighter;
}
.short {
  height: 5 opx;
}
.tall {
  height: 140px;
}
.outer {
  background: #5d637a;
}
.inner {
  background: #b4bfe1;
  margin: 5px;
}
