
//colors
grey = #5d637a
purple = #b4bfe1


body
  font-family Roboto, sans-serif
  font-weight lighter

.short
  height 5opx

.tall
  height 140px 

.outer 
  background grey
  
.inner
  background purple
  margin 5px
