
body {
  font-family: Roboto, sans-serif;
  font-weight: lighter;
}

.outer {
	
	background: #5d637a;
	height: 50px;
	
}

.short {
	height: 5opx;
}

.tall {
	height: 150px;
}

.outer {
  background: #5d637a;
  
}

.inner {
  background: #b4bfe1;
  margin: 5px;
}
